<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head></h:head>
<body>
	<h:form>

		<p:outputPanel>Cadastro de oportunidades</p:outputPanel>
		<p:panelGrid columns="2">


			<p:outputLabel for="nome" value="Nome:" />
			<p:inputText id="nome" value="#{MBoportunidade.oportunidade.nome}" />

			<p:outputLabel for="descricao" value="Descrição:" />
			<p:inputTextarea id="descricao"
				value="#{MBoportunidade.oportunidade.descricao}" />

			<p:outputLabel for="atividades" value="Atividades:" />
			<p:inputTextarea id="atividades"
				value="#{MBoportunidade.oportunidade.atividades}" />

			<p:outputLabel for="preRequisitos" value="Pré-requisitos:" />
			<p:inputTextarea id="preRequisitos"
				value="#{MBoportunidade.oportunidade.preRequisitos}" />

		</p:panelGrid>
		<p:commandButton value="Salvar"
			action="#{MBoportunidade.addOportunidade}" />
		<p:commandButton value="Cancelar"
			actionListener="#{MBoportunidade.voltarHome}" />


	</h:form>
</body>
</html>
